<included>
    <contextName>summa-sbsolr</contextName>

    <appender name="R" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${catalina.home}/logs/${CONTEXT_NAME}.log</File>

        <encoder>
            <pattern>%d [%t] %-5p %c - %m%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>10</maxIndex>
            <FileNamePattern>${catalina.home}/logs/${CONTEXT_NAME}.log.%i</FileNamePattern>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>32MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <root level="info">
        <appender-ref ref="R"/>
    </root>
</included>
