<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- ===================================================================== -->
<!--                                                                       -->
<!--  Log4j Configuration                                                  -->
<!--                                                                       -->
<!-- ===================================================================== -->

<!-- $Id: log4j.xml,v 1.4 2006/10/03 09:11:38 hal Exp $ -->

<!--
   | For more configuration infromation and examples see the Jakarta Log4j
   | owebsite: http://jakarta.apache.org/log4j
 -->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="TRACE"/><!-- or ERROR or INFO -->
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p [%t] [%d] [%c] %m%n"/>
        </layout>
    </appender>

    <!-- A time/date based rolling appender -->

    <appender name="FILE" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="log/logfile.log"/>
        <param name="Append" value="true"/>
        <param name="Threshold" value="info"/>
         <param name="MaxFileSize" value="100MB"/>
         <param name="MaxBackupIndex" value="10"/>
         <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%c{1}] %m%n"/>
        </layout>
    </appender>

    <appender name="error" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="log/error.log"/>
        <param name="Append" value="true"/>
        <param name="Threshold" value="error"/>
        <!-- Rollover at midnight each day -->
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%c{1}] %m%n"/>
        </layout>
    </appender>


    <logger name="dk.statsbiblioteket.summa.ingest.stream.FileReader">
        <level value="info" />
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="dk.statsbiblioteket.summa.ingest.stream.XMLSplitterParser">
        <level value="trace" />
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- all loggeres inherit the root logger - so don't include the root appenders in the other loggers (will duplicate log entries in the log file) -->
    <root>
        <level value="INFO" />
        <appender-ref ref="CONSOLE" />
    </root>

</log4j:configuration>
