<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- ===================================================================== -->
<!--                                                                       -->
<!--  Log4j Configuration                                                  -->
<!--                                                                       -->
<!-- ===================================================================== -->

<!-- $Id: log4j.xml,v 1.1 2007/02/06 07:59:44 hal Exp $ -->

<!--
   | For more configuration infromation and examples see the Jakarta Log4j
   | owebsite: http://jakarta.apache.org/log4j
 -->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <!-- ================================= -->
    <!--         Send to logfile           -->
    <!-- ================================= -->



    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
       <param name="Target" value="System.out"/>
       <param name="Threshold" value="DEBUG"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p [%t] [%d] [%c] %m%n"/>
        </layout>
     </appender>
    <!-- A time/date based rolling appender -->

    <appender name="FILE" class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="TRACE"/><!-- or DEBUG or INFO -->
    <!--    //<param name="File" value="/home/summa/logs/search_engine_log.log"/>-->
        <!--<param name="Append" value="true"/>
        //<param name="MaxFileSize" value="100MB"/>
      //  <param name="MaxBackupIndex" value="5"/>-->
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p [%t] [%d] [%c] %m%n"/>
        </layout>
    </appender>

    <appender name="CLUSTER" class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="DEBUG"/><!-- or DEBUG or INFO -->
    <!--   // <param name="File" value="/home/summa/logs/cluster_log.log"/>-->
       <!-- <param name="Append" value="true"/>
       // <param name="MaxFileSize" value="100MB"/>
      //  <param name="MaxBackupIndex" value="5"/>-->
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p [%t] [%d] [%c] %m%n"/>
        </layout>
    </appender>


    <!-- The full log appender uses a extremely slow pattern, on production systems use only this appender with a threshold of fatal -->
    <appender name="FULL_LOG" class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="FATAL"/>
<!--        <param name="File" value="/home/summa/logs/search_engine_fatal.log"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="1MB"/>
        <param name="MaxBackupIndex" value="1"/>-->
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p [%t] [%d] [%c] - %l [LINENUMBER: %L] [METHOD: %M] [%X]  %m%n"/>
        </layout>
    </appender>

    <logger name="dk.statsbiblioteket.summa.suggest">
        <level value="DEBUG" />
        <appender-ref ref="FILE" />
    </logger>

    <logger name="dk.statsbiblioteket.summa.support">
        <level value="DEBUG" />
        <appender-ref ref="CONSOLE" />
    </logger>

    <!-- all loggeres inherit the root logger - so don't include the root appenders in the other loggers (will duplicate log entries in the log file) -->
    <root>
        <level value="FATAL" />
        <appender-ref ref="FULL_LOG" />
    </root>

</log4j:configuration>


