<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- ===================================================================== -->
<!--                                                                       -->
<!--  Log4j Configuration                                                  -->
<!--                                                                       -->
<!-- ===================================================================== -->

<!-- $Id: log4j.xml,v 1.2 2007/10/29 14:38:15 mke Exp $ -->

<!--
   | For more configuration infromation and examples see the Jakarta Log4j
   | owebsite: http://jakarta.apache.org/log4j
 -->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <!-- ================================= -->
    <!--         Send to logfile           -->
    <!-- ================================= -->

    <!-- -->

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="DEBUG"/><!-- or ERROR or INFO -->
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p [%t] [%d] [%c] %m%n"/>
        </layout>
    </appender>

    <!-- A time/date based rolling appender -->

    <appender name="FILE" class="org.apache.log4j.RollingFileAppender">
        <param name="Threshold" value="TRACE"/><!-- or DEBUG or INFO -->
        <param name="File" value="log/logfile.log"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="500MB"/>
        <param name="MaxBackupIndex" value="5"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p [%t] [%d] [%c] %m%n"/>
        </layout>
    </appender>

    <appender name="PROCESS" class="org.apache.log4j.RollingFileAppender">
        <param name="Threshold" value="DEBUG"/><!-- or DEBUG or INFO -->
        <param name="File" value="log/process.log"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="500MB"/>
        <param name="MaxBackupIndex" value="5"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p [%t] [%d] [%c] %m%n"/>
        </layout>
    </appender>

    <!-- The full log appender uses a extremely slow pattern, on production systems use only this appender with a threshold of fatal -->
    <appender name="FULL_LOG" class="org.apache.log4j.RollingFileAppender">
        <param name="Threshold" value="FATAL"/>
        <param name="File" value="log/fatal.log"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="1MB"/>
        <param name="MaxBackupIndex" value="1"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p [%t] [%d] [%c] - %l [LINENUMBER: %L] [METHOD: %M] [%X]  %m%n"/>
        </layout>
    </appender>

     <!-- use the async wrapper on logging
     <appender name="ASYNC" class="org.apache.log4j.AsyncAppender">
        <appender-ref ref="FILE"/>
    </appender>  -->


    <logger name="dk.statsbiblioteket.summa">
        <level value="debug" />
        <appender-ref ref="FILE" />
    </logger>

    <!-- Record/Payload lifetime log -->
    <logger name="process">
        <level value="debug" />
        <appender-ref ref="PROCESS" />
    </logger>

    <!-- all loggeres inherit the root logger - so don't include the root appenders in the other loggers (will duplicate log entries in the log file) -->
    <root>
        <level value="FATAL" />
        <appender-ref ref="FULL_LOG" />
    </root>

</log4j:configuration>


